<%- include('partials/header') -%>
    <div class="min-h-screen text-secondary-content">

      <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow h-32 card bg-inherit place-items-center">

            <p><strong>User Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>

        </div> 

        <div class="grid flex-grow h-32 card bg-inherit place-items-center">

          <h2>My Books</h2>
          <ul class="list-unstyled">
            <% for(var i=0; i<books.length; i++) {%>
              <li class="justify-content-between m-4">
                <a href="/book/<%= books[i]._id%>">
                  <img class="img-fluid" src="<%= books[i].image%>">
                </a>
              </li>
            <% } %>
          </ul>

        </div>
      </div>

      <div class="">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
          
    </div>
  <%- include('partials/footer') -%>
