<%- include('partials/header') -%>

<div class="min-h-screen text-neutral p-4">
 <div class="flex justify-end ">
      <!-- TODO - Convert to button -->
      <a href="/logout" class="btn btn-error mt-4">Logout</a>
    </div>
  <div class="w-full h-48 bg-inherit">
    <div class="w-1/2 mx-auto text-center p-4">
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
    </div>
   
  </div>

    <div class="w-full my-16 border-t-2 border-neutral">
      <div class="grid flex-grow bg-inherit place-items-center">

        <div class="collapse">
          <input type="checkbox" class="w-96 my-4" />
          <button
              class="btn btn-primary shadow-md text-lg font-medium collapse-title my-4 w-96"
          >
              Click to add a book
          </button>
  
          <div class="collapse-content w-1/2 z-10">
              <div class="bg-base-100 p-4">
                  <form
                      action="/book/createBook"
                      enctype="multipart/form-data"
                      method="POST"
                      id="newPost"
                  >
                      <div class="m-4">
                          <label for="title" class="form-label">Title</label>
                          <input
                              type="text"
                              class="form-control"
                              id="title"
                              name="title"
                          />
                      </div>
  
                      <div class="m-4">
                          <label for="author" class="form-label">Author</label>
                          <input
                              type="text"
                              class="form-control"
                              id="author"
                              name="author"
                          />
                      </div>
  
                      <div class="m-4">
                          <label for="author" class="form-label">pages</label>
                          <input
                              type="number"
                              min="0"
                              class="form-control"
                              id="pages"
                              name="pages"
                          />
                      </div>
  
                      <div class="rating gap-1 m-4">
                          <input
                              type="radio"
                              name="rating"
                              id="choice1"
                              value="1"
                              class="mask mask-heart bg-accent"
                          />
                          <input
                              type="radio"
                              name="rating"
                              id="choice2"
                              value="2"
                              class="mask mask-heart bg-accent"
                              checked
                          />
                          <input
                              type="radio"
                              name="rating"
                              id="choice3"
                              value="3"
                              class="mask mask-heart bg-accent"
                          />
                          <input
                              type="radio"
                              name="rating"
                              id="choice4"
                              value="4"
                              class="mask mask-heart bg-accent"
                          />
                          <input
                              type="radio"
                              name="rating"
                              id="choice5"
                              value="5"
                              class="mask mask-heart bg-accent"
                          />
                      </div>
  
                      <div class="m-4">
                          <textarea
                              name="desc"
                              id="desc"
                              class="textarea textarea-bordered"
                              placeholder="Summary"
                          ></textarea>
                      </div>
  
                      <button
                          type="submit"
                          class="btn btn-primary btn-active ml-4 mb-4"
                          id="createBtn"
                          value="submit"
                      >
                          Submit
                      </button>
                  </form>
              </div>
          </div>
      </div>

        <h2 class=" my-4 text-lg font-bold">My Books</h2>
        <ul class="list-unstyled">
          <% for(var i=0; i<books.length; i++) {%>
            <li class="justify-content-between m-4">
              <a href="/book/<%= books[i]._id%>">
                <img class="img-fluid" src="<%= books[i].image%>">
              </a>
            </li>
          <% } %>
        </ul>

      </div>
    </div>
  </div>
  
  <div class="flex justify-center">
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div>
  <%- include('partials/footer') -%>
